.intro-copy-container, .page-content-container { width: 100%; max-width: 650px; display: flex; flex-direction: column; justify-content: center; margin: 0 auto; }

h2.group-title { display: flex; justify-content: space-between; align-items: center; margin: 35px 0 20px 0; padding: 8px 15px; background-color: #009ca6; color: white; font-family: sans-serif; font-size: 19px; text-transform: uppercase; border-radius: 2px; cursor: pointer; }
h2.group-title:hover .fas { transform: rotate(180deg); transition: 250ms; }
.fp-cards-container { display: flex; flex-direction: column; align-content: center; justify-content: space-between; }

.job-openings-container-outer { display: none; }
.hiring-brokerages-container-outer { display: none; }

.fp-card-container { display: flex; padding: 12px 6px; }
.fp-card-wrapper { display: flex; align-items: center; justify-content: center; width: 100%; padding: 5px 10px; box-shadow: 0px 0px 20px -2px lightgrey; transition: 300ms; }
.fp-card-image { margin: 0 !important; max-width: 200px; }
a img.fp-card-image:hover { box-shadow: none; }

.fp-card-inner-top-wrap { flex: 8; display: flex; align-items: center; height: 100%; }
.fp-card-inner-bottom-wrap { flex: 4; display: flex; align-items: center; padding-right: 10px; height: 100%; }
.fp-card-inner-bottom { display: flex; }

.fp-card-title { margin-bottom: 10px; }
.fp-card-title a { font-size: 23px; color: #243065; }
.fp-card-text { font-size: 18px; margin: 6px 0 !important; }

hr { border: 0; height: 1px; margin: 1em; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(212, 212, 212, 0.75), rgba(0, 0, 0, 0));}

/* Tablet */
@media(max-width: 950px){
  .fp-card-wrapper { width: 100%; }
}

/* Mobile */
@media(max-width: 700px){
  .fp-card-wrapper { flex-direction: column; align-items: flex-start; transition: 300ms; padding: 10px; }
  .fp-card-image { padding: 0 0 10px 0; }
}