.vp-on-deck-wrapper { overflow-y: scroll; }
/* .vp-on-deck-wrapper { overflow: hidden; } */

.video-playlist-section { display: flex; margin: 40px 0; padding: 25px; border: 1px solid lightgrey; }

.vp-featured { flex: 1.5; }
.vp-featured-inner { display: flex; flex-direction: column; }
.vp-featured-iframe-wrapper > iframe { padding-bottom: 15px; }
.vp-featured-text { display: flex; flex-direction: column; transition: 350ms; }
.vid-title-first { padding-bottom: 8px; color: #243065; }
.vid-title { padding-bottom: 5px; color: #243065; }
.vp-featured-text > p { font-size: 16px; max-width: 560px; }

.vp-on-deck-wrapper { max-height: 360px; display: flex; flex-direction: column; flex: 1.05; justify-content: flex-start; padding: 8px; border: 1px solid lightgrey; background-color: #f5f5f5; border-radius: 4px; }
.vp-on-deck { margin-bottom: 15px; }
.vp-on-deck-inner { display: flex; flex-direction: row; align-items: flex-start; }
.vp-on-deck-inner-text { display: flex; flex-direction: column; }
.vp-on-deck-image-wrapper > img { margin-right: 15px; }
.vid-title { font-size: 16px; font-weight: 700; }
.vid-desc { font-size: 15px; }

.image-popup-vid { cursor: pointer; border: 2px solid transparent; box-sizing: border-box; transition: 350ms; }

.video-active { border: 2px solid darkorange; transition: 350ms; /* animation: slideOut 700ms ease-in; */ }

@keyframes slideOut {
  0% { transform: translateX(0); }
  20% { transform: translateX(25px); }
  50% { transform: translateX(-275px); }
  100% { transform: translateX(-300px); }
}
.fade-in-and-up { animation: fadeInUp1 700ms ease-in-out forwards; }
.fade-in-and-up-2 { animation: fadeInUp2 700ms ease-in-out forwards; }

@keyframes fadeInUp1 {
  0% { opacity: 0; transform: translateY(-25px); }
  60% { opacity: 0; transform: translateY(-20px); }
  80% { transform: translateY(5px); }
  100% { opacity: 1; transform: translateY(0px); }
}

@keyframes fadeInUp2 {
  0% { opacity: 0; transform: translateY(-25px); }
  60% { opacity: 0; transform: translateY(-20px); }
  80% { transform: translateY(5px); }
  100% { opacity: 1; transform: translateY(0px); }
}

.vp-featured .image-popup-vid { width: 560px;}
.vp-on-deck-wrapper .image-popup-vid { width: 187px; }

@media (min-width: 801px) and (max-width: 1100px) {
  .vp-on-deck-wrapper { max-height: fit-content; }
  .vp-on-deck-inner { flex-direction: column; }
}

@media (max-width: 800px) {
  .video-playlist-section { flex-direction: column; }
  .image-popup-vid { margin-top: 25px; }
  #vid-popup-1 { width: 100%; }
  .vp-on-deck-wrapper { overflow: visible; max-height: fit-content; padding: 0 0 25px 0; margin-top: 20px; background-color: transparent; border: none; }
  .vp-on-deck-inner { flex-direction: column; }
  .vp-on-deck-inner-text { margin-top: 5px; }

  .video-active { animation: none; transform: scale(1.1) translateX(10px); }
}
