/* Remove these styles when pushing live to a production site */
* { font-family: proxima_novamedium, Helvetica, Arial, sans-serif; }
.cre__component-container--outer { max-width: 1140px; margin: 0 auto; color: #424242; }
/* Remove these styles when pushing live to a production site */

.cre__component-container--outer { position: relative; }
.cre__component-container--outer * { box-sizing: border-box; }

#grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 
  "grid-1 grid-40 grid-80 grid-120"
  "dots-spacer dots-1 dots-2 dots-3"
  "grid-2 grid-41 grid-81 grid-121"
  "grid-3 grid-42 grid-82 grid-122"
  "grid-4 grid-43 grid-83 grid-123"
  "grid-5 grid-44 grid-84 grid-124"
  "grid-6 grid-45 grid-85 grid-125"
  "grid-7 grid-46 grid-86 grid-126"
  "grid-8 grid-47 grid-87 grid-127"
  "grid-9 grid-48 grid-88 grid-128"
  "grid-10 grid-49 grid-89 grid-129"
  "grid-11 grid-50 grid-90 grid-130"
  "grid-12 grid-51 grid-91 grid-131"
  "grid-13 grid-52 grid-92 grid-132"
  "grid-14 grid-53 grid-93 grid-133"
  "grid-15 grid-54 grid-94 grid-134"
  "grid-16 grid-55 grid-95 grid-135"
  "grid-17 grid-56 grid-96 grid-136"
  "grid-18 grid-57 grid-97 grid-137"
  "grid-19 grid-58 grid-98 grid-138"
  "grid-20 grid-59 grid-99 grid-139"
  "grid-21 grid-60 grid-100 grid-140";

  justify-content: center;  
}

.cre__grid-area-1 { grid-area: grid-1; }
.cre__grid-area-2 { grid-area: grid-2; }
.cre__grid-area-3 { grid-area: grid-3; }
.cre__grid-area-4 { grid-area: grid-4; }
.cre__grid-area-5 { grid-area: grid-5; }
.cre__grid-area-6 { grid-area: grid-6; }
.cre__grid-area-7 { grid-area: grid-7; }
.cre__grid-area-8 { grid-area: grid-8; }
.cre__grid-area-9 { grid-area: grid-9; }
.cre__grid-area-10 { grid-area: grid-10; }
.cre__grid-area-11 { grid-area: grid-11; }
.cre__grid-area-12 { grid-area: grid-12; }
.cre__grid-area-13 { grid-area: grid-13; }
.cre__grid-area-14 { grid-area: grid-14; }
.cre__grid-area-15 { grid-area: grid-15; }
.cre__grid-area-16 { grid-area: grid-16; }
.cre__grid-area-17 { grid-area: grid-17; }
.cre__grid-area-18 { grid-area: grid-18; }
.cre__grid-area-19 { grid-area: grid-19; }
.cre__grid-area-20 { grid-area: grid-20; }
.cre__grid-area-21 { grid-area: grid-21; }
.cre__carousel-dots-grid-area-spacer { grid-area: dots-spacer; }

.cre__grid-area-40 { grid-area: grid-40; }
.cre__grid-area-41 { grid-area: grid-41; }
.cre__grid-area-42 { grid-area: grid-42; }
.cre__grid-area-43 { grid-area: grid-43; }
.cre__grid-area-44 { grid-area: grid-44; }
.cre__grid-area-45 { grid-area: grid-45; }
.cre__grid-area-46 { grid-area: grid-46; }
.cre__grid-area-47 { grid-area: grid-47; }
.cre__grid-area-48 { grid-area: grid-48; }
.cre__grid-area-49 { grid-area: grid-49; }
.cre__grid-area-50 { grid-area: grid-50; }
.cre__grid-area-51 { grid-area: grid-51; }
.cre__grid-area-52 { grid-area: grid-52; }
.cre__grid-area-53 { grid-area: grid-53; }
.cre__grid-area-54 { grid-area: grid-54; }
.cre__grid-area-55 { grid-area: grid-55; }
.cre__grid-area-56 { grid-area: grid-56; }
.cre__grid-area-57 { grid-area: grid-57; }
.cre__grid-area-58 { grid-area: grid-58; }
.cre__grid-area-59 { grid-area: grid-59; }
.cre__grid-area-60 { grid-area: grid-60; }
.cre__grid-area-61 { grid-area: grid-61; }
.cre__carousel-dots-grid-area-1 { grid-area: dots-1; }

.cre__grid-area-80 { grid-area: grid-80; }
.cre__grid-area-81 { grid-area: grid-81; }
.cre__grid-area-82 { grid-area: grid-82; }
.cre__grid-area-83 { grid-area: grid-83; }
.cre__grid-area-84 { grid-area: grid-84; }
.cre__grid-area-85 { grid-area: grid-85; }
.cre__grid-area-86 { grid-area: grid-86; }
.cre__grid-area-87 { grid-area: grid-87; }
.cre__grid-area-88 { grid-area: grid-88; }
.cre__grid-area-89 { grid-area: grid-89; }
.cre__grid-area-90 { grid-area: grid-90; }
.cre__grid-area-91 { grid-area: grid-91; }
.cre__grid-area-92 { grid-area: grid-92; }
.cre__grid-area-93 { grid-area: grid-93; }
.cre__grid-area-94 { grid-area: grid-94; }
.cre__grid-area-95 { grid-area: grid-95; }
.cre__grid-area-96 { grid-area: grid-96; }
.cre__grid-area-97 { grid-area: grid-97; }
.cre__grid-area-98 { grid-area: grid-98; }
.cre__grid-area-99 { grid-area: grid-99; }
.cre__grid-area-100 { grid-area: grid-100; }
.cre__grid-area-101 { grid-area: grid-101; }
.cre__carousel-dots-grid-area-2 { grid-area: dots-2; }

.cre__grid-area-120 { grid-area: grid-120; }
.cre__grid-area-121 { grid-area: grid-121; }
.cre__grid-area-122 { grid-area: grid-122; }
.cre__grid-area-123 { grid-area: grid-123; }
.cre__grid-area-124 { grid-area: grid-124; }
.cre__grid-area-125 { grid-area: grid-125; }
.cre__grid-area-126 { grid-area: grid-126; }
.cre__grid-area-127 { grid-area: grid-127; }
.cre__grid-area-128 { grid-area: grid-128; }
.cre__grid-area-129 { grid-area: grid-129; }
.cre__grid-area-130 { grid-area: grid-130; }
.cre__grid-area-131 { grid-area: grid-131; }
.cre__grid-area-132 { grid-area: grid-132; }
.cre__grid-area-133 { grid-area: grid-133; }
.cre__grid-area-134 { grid-area: grid-134; }
.cre__grid-area-135 { grid-area: grid-135; }
.cre__grid-area-136 { grid-area: grid-136; }
.cre__grid-area-137 { grid-area: grid-137; }
.cre__grid-area-138 { grid-area: grid-138; }
.cre__grid-area-139 { grid-area: grid-139; }
.cre__grid-area-140 { grid-area: grid-140; }
.cre__grid-area-141 { grid-area: grid-141; }
.cre__carousel-dots-grid-area-3 { grid-area: dots-3; }

.cre__grid-area-160 { grid-area: grid-160; }
.cre__grid-area-161 { grid-area: grid-161; }
.cre__grid-area-162 { grid-area: grid-162; }
.cre__grid-area-163 { grid-area: grid-163; }
.cre__grid-area-164 { grid-area: grid-164; }
.cre__grid-area-165 { grid-area: grid-165; }
.cre__grid-area-166 { grid-area: grid-166; }
.cre__grid-area-167 { grid-area: grid-167; }
.cre__grid-area-168 { grid-area: grid-168; }
.cre__grid-area-169 { grid-area: grid-169; }
.cre__grid-area-170 { grid-area: grid-170; }
.cre__grid-area-171 { grid-area: grid-171; }
.cre__grid-area-172 { grid-area: grid-172; }
.cre__grid-area-173 { grid-area: grid-173; }
.cre__grid-area-174 { grid-area: grid-174; }
.cre__grid-area-175 { grid-area: grid-175; }
.cre__grid-area-176 { grid-area: grid-176; }
.cre__grid-area-177 { grid-area: grid-177; }
.cre__grid-area-178 { grid-area: grid-178; }
.cre__grid-area-179 { grid-area: grid-179; }
.cre__grid-area-180 { grid-area: grid-180; }
.cre__grid-area-181 { grid-area: grid-181; }
.cre__carousel-dots-grid-area-4 { grid-area: dots-4; }

.cre__grid-area { border: 1.5px solid #d1d2d4; }

.cre__mobile-previous { display: none; }
.cre__mobile-next { display: none; }

.cre__btn-container { width: 100%; text-align: center; }
.cre__btn { width: 65%; padding: 12px 35px; background-color: #f58121; color: white; font-size: 16px; font-weight: 700; border: none; border-radius: 10px; box-shadow: 2px 3px 3px lightgrey; cursor: pointer; transition: 350ms; }
.cre__btn:hover { background-color: #ffa63b; transition: 350ms; }
.cre__btn-container--card { margin-bottom: 25px; }
.cre__btn-container--grid-bottom { margin-top: 25px; }

.cre__grid-top-left { border-top: none; border-right: none; border-left: none; position: relative; }
.cre__grid-top-left-inner-container { height: 100%; /*border-right: 1px solid darkgrey;*/ }
.cre__delivery-method-intro-text { margin: 15px 8px; }
.cre__delivery-method-intro-list { padding-left: 8px; list-style-type: none; }
.cre__delivery-method-intro-list-item { display: flex; align-items: center; padding: 10px 0; font-weight: 700; color: #243065; }
.cre__delivery-method-text-icon { font-size: 20px; padding-right: 5px; }

.cre__delivery-method-dropdown-container-outer { position: relative; margin: 15px 8px; }
.cre__delivery-method-dropdown-container { position: absolute; width: 100%; background: white; border: 2px solid #666; border-radius: 10px; z-index: 9; }
.cre__delivery-method-clickable { display: flex; justify-content: space-between; padding: 15px; cursor: pointer; }
.cre__delivery-method-headline { font-size: 16px; font-weight: 700; color: #333; }
.cre__delivery-method-icon { font-size: 20px; color: #333; }
.cre__delivery-method-dropdown { display: none; padding: 0 15px 15px 15px; }
.cre__delivery-method-dropdown-option { display: inline-block; padding: 10px 0; }
.cre__delivery-method-dropdown-option-title { font-weight: 700; }

.cre__grid-bottom-left { border-right: none; border-left: none; border-bottom: none; }
.cre__grid-bottom-left-inner-container { height: calc(100% - 20px); /*border-right: 1px solid grey;*/ }

.cre__value-prop-container { padding: 10px; border-left: none; border-right: none; }
.cre__value-prop--clickable { display: flex; justify-content: space-between; align-items: center; cursor: pointer; }
.cre__value-prop-heading { display: inline-block; margin: 0; }
.cre__value-prop--expand { display: none; padding-top: 15px; }
.cre__value-prop-msg { margin: 0; color: #0d6e9e; }

.cre__value-prop-arrow { padding-left: 5px; color: #0D6E9E; transform: rotate(0deg); transition: 250ms; }
.rotate-animation { transform: rotate(90deg); transition: 275ms; }

.cre__value-prop-item { display: flex; justify-content: center; align-items: center; }
.cre__value-prop-item .cre__value-prop-container--inner { display: none; }
.cre__value-prop-item-icon { font-size: 18px }

.cre__grid-card { border: none; }
.cre__card-container { height: calc(100% - 50px); border: 1.5px solid #d1d2d4; border-top: none; }
.cre__card-ribbon { display: flex; justify-content: center; align-items: center; height: 50px; background-color: #243065 /*#32a0d1*/; border: 1px solid darkgrey; border-radius: 15px 15px 0 0; }
.cre__card-ribbon-content { margin: 0; color: white; font-size: 18px; font-weight: 700; }

.cre__card-icon-container { text-align: center; padding-top: 30px; }
.cre__card-icon-container i { font-size: 40px; color: #243065; }
.cre__card-title { margin: 25px 5px 30px 5px; text-align: center; font-size: 19px; }

.cre__price-container { display: flex; flex-direction: column; align-items: center; margin-top: 20px; width: 100%; text-align: center; font-size: 26px; font-weight: 700; color: #243065; }
.cre__price {  }
.strike { position: relative; display: inline-block; margin: 0 0 10px 0; font-size: 40px; font-weight: 400; color: darkgrey; text-decoration: none; }
.strike::after { content: ""; position: absolute; bottom: 0; left: 0; height: 50%; height: calc(50% - 1px); width: 105%; border-top: 3px solid #F4B91F; transform: rotateZ(-15deg); }

.cre__mobile-divider { display: none; width: 85%; height: 2px; margin: 0 auto; background-color: darkgrey; }

.cre__package-highlight { border-left: 3px solid #F4B91F; border-right: 2px solid #F4B91F; }
.cre__package-highlight .cre__card-icon-container i { color: #F4B91F; }
.cre__package-highlight.cre__grid-cta { border-bottom: 2px solid #F4B91F; }
.cre__package-highlight.cre__grid-card { border: none; }
.cre__package-highlight.cre__grid-card .cre__card-ribbon { background: radial-gradient(/*ellipse at top,*/ #F8D884, #F4B91F); border: none; }
.cre__package-highlight.cre__grid-card .cre__card-ribbon-content { color: #333; }
.cre__package-highlight.cre__grid-card .cre__card-container { border-left: 3px solid #F4B91F; border-right: 2px solid #F4B91F; }

.cre__carousel-dots-grid-area, .cre__carousel-dots-grid-area-spacer { display: none; }

.cre__grid-cta { display: flex; flex-direction: column; justify-content: center; align-items: center; border-bottom: 3px solid #d1d2d4; border-radius: 0 0 15px 15px; }
.cre__grid-cta-preview { margin: 30px 5px 35px 5px; }
.cre__grid-cta-preview-link { font-size: 18px; font-weight: 700; color: #0d6e9e; padding: 4px; transition: 350ms; }
.cre__grid-cta-preview-link:hover { color: #243065; transition: 350ms; }


/* Mobile/Tablet */
@media(max-width: 875px) {
  .cre__carousel-arrow { display: flex; position: absolute; top: 165px; font-size: 50px; color: #32a0d1; opacity: 0.6; cursor: pointer; z-index: 99; }
  .cre__carousel-arrow i { padding: 5px; }
  .cre__mobile-previous { left: 5px; }
  .cre__mobile-next { right: 5px; }
  
  .cre__grid-area { border-left: none; border-right: none; }
  
  .cre__package-highlight.cre__grid-card .cre__card-container { border-left: none; border-right: none; }
  .cre__package-highlight.cre__grid-cta { border-bottom: none; }
  
  .cre__value-prop-item { width: 95vw; padding: 12px 15px; justify-content: space-between; align-items: flex-start; }
  .cre__value-prop-item-icon { padding-right: 5px; }
  .cre__value-prop--clickable {  }
  .cre__value-prop-item .cre__value-prop-container--inner { display: block; width: 100%; }
  
  .cre__card-ribbon { border-radius: 10px 10px 0 0;}
  
  .cre__grid-card { width: 65%; min-width: 245px; margin: 0 auto 20px auto; border-radius: 10px; box-shadow: 0px 0px 12px 5px lightgrey; }
  .cre__card-container { display: flex; flex-direction: column; border: none; }
  
  .cre__card-icon-container { order: 3; padding: 25px 0; }
  .cre__card-icon-container i { font-size: 48px; }
  .cre__card-content-container { order: 1; }
  .cre__card-title { font-size: 20px; }
  .cre__btn-container--card { order: 4; }
  .cre__btn--card { width: 75%; }
  
  .cre__mobile-divider { display: block; order: 2; background-color: #d1d2d4; }
  
  .cre__price-container {  }
  .cre__price { font-size: 34px; }
  .strike { font-size: 28px; margin-bottom: 8px; }
  
  .cre__carousel-dots-grid-area { display: flex; justify-content: center; align-items: center; padding: 5px 0 25px 0; border-top: none; border-bottom: 1.5px solid #d1d2d4; }
  .cre__carousel-dot { width: 40px; height: 8px; margin: 0 5px; background-color: lightgrey; border-radius: 5px; }
  .cre__dot--focus { background-color: grey; }
  
  .cre__grid-cta { border-bottom: none; }
  
  .cre__grid-area:not(.cre__mobile-package-show) { opacity: 0; position: absolute; z-index: -1; }
  .cre__mobile-package-show { opacity: 1; transition: 500ms; }
  
  #grid-container { grid-template-columns: none; }
}
  
/* Tablet Only */
@media(max-width: 875px) and (min-width: 600px) {
  .cre__grid-card { width: 50%; }
  .cre__mobile-previous { left: 10%; }
  .cre__mobile-next { right: 10%; }
  .cre__btn--grid-bottom { width: 50%; }
}